
body {
    font-family: 'Rubik', sans-serif;
    background-color: #128CFC;
    margin-top: 5%;  
}

@media screen and (max-width: 400px){
  body {
    display: grid;
    grid-template-columns: auto;
  }  
    #wrapper {
      display: grid;
    grid-template-columns: auto;
    width: 100%;
  }
}


h1 {
    padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
  display: grid;
}

#wrapper {
  width: auto;
    border: 1px solid black;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    border-top: 10px solid blue;
  }

#control-section {
    display: grid;
    grid-template-columns: repeat(3, 0.7fr);
  }

#sortSection {
  margin-top: 1.3rem;
 display: grid;
 grid-template-columns: repeat(3, 0.6fr) 0.7fr;
}

#tasksSection {
    text-align: center;
}

.todoContainer {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

.taskWrapper {
    padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 0.2fr 0.7fr 0.8fr 0.1fr 1.2fr;
  border: 1px solid transparent;
  color: rgb(245, 249, 252);
  font-weight: bolder;
  align-items: center;
  border-radius: 4%;
}


.taskWrapper:hover {
  border: #2c2d2e solid 0.08rem;
  transform: scale(1.02);
  transition:all .300s;

  }

  .delBtn {
    font-size: 15px;
    color: black;
    font-weight: bold;
    transform: scale(1.1);
    transition:all .300s;
    cursor: pointer;
  }
  
  @keyframes icon {
    0%,100%{
      transform: translate(0px);
    }
    50% {
      transform: translate(3px);
    }
  }

.todoCreatedAt, .todoText, .delBtn, #prioritySelector, 
#addButton, #counterWrapper, 
#sortByDateButton, #search, #deleteAll{
    margin-left: 0.8rem;
}

#textInput, #prioritySelector, #search {
border:2px solid skyblue;
	font-size:1em;
	padding:.25em .5em .3125em;
	color: black;
	border-radius:.25em;
	transition:all .100s;
}	
#textInput:focus, #prioritySelector:focus, #search:focus{
		outline:none;
		color: black;
		border-color:blue;
  }
  
  .hide {
    display: none;
  }

    #counterWrapper {
        border: solid skyblue;
        font-size:1em;
	padding: .25em .5em .3125em;
	color: black;
	border-radius: .25em;
    transition:all .100s;
    padding: 5px 20px;
    margin: 10px;
    color: #1B5AA1;
    font-weight: 300;
    font-size: 20px;
    position: fixed;
    }

    #addButton{
      outline:none;
  color: black;
      border-color:skyblue;
      font-size:1em;
padding:.25em .5em .3125em;
color: black;
border-radius:.25em;
  transition:all .100s;
  text-align: center;
  cursor: pointer;
  }

    #addButton:hover, #sortButton:hover, #sortByDateButton:hover {
        outline:none;
		color: black;
        border-color:blue;
        font-size:1em;
	padding:.25em .5em .3125em;
	color: black;
	border-radius:.25em;
  transition:all .100s;
    }

  #sortButton, #sortByDateButton {
    outline:none;
    color: black;
        border-color:skyblue;
        font-size:1em;
  padding:.25em .5em .3125em;
  color: black;
  border-radius:.25em;
    transition:all .100s;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  #deleteAll {
    outline:none;
    color: black;
        border-color:rgb(233, 56, 56);
        font-size:1em;
  padding:.25em .5em .3125em;
  color: black;
  border-radius:.25em;
    transition:all .100s;
    text-align: center;
    align-items: center;
    border-width: 0.2rem;
  }

  #deleteAll:hover {
  outline:none;
  color: black;
    border-color:rgb(255, 0, 13);
    background-color: red;
    transition:all 0.5s;
    font-weight: bolder;
    font-size: 1rem;
  }

  .deleteSure, .undoBtn {
    margin-left: 1rem;
    outline:none;
    color: black;
        border-color:skyblue;
        font-size:1em;
  color: black;
  border-radius:.25em;
    transition:all .100s;
    text-align: center;
    align-items: center;
  }
  
  .sure {
    margin-left: 1rem;
  }

  .todoText {
    word-break: break-all;
    text-align: left;
  }
