
body {
    box-sizing: border-radius;
    font-family: 'Rubik', sans-serif;
    background-color: #128CFC;
    border-top: 10px solid blue;
    margin-top: 5%;

}

h1 {
    padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 20px;
}

#wrapper {
    border: 1px solid black;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    background-color: whitesmoke;
  }

#control-section {
    display: flex;
    text-align: center;
    width: 300px;
  box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
  }

#sortSection {
 display: flex;
 margin-top: 2rem;
}

#tasksSection {
    text-align: center;
}

.todoContainer {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

.taskWrapper {
    padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.8fr 0.1fr 1.2fr;
  border: 1px solid transparent;
  cursor: pointer;
  color: rgb(245, 249, 252);
  font-weight: bolder;
  align-items: center;
  border-radius: 4%;
}


.taskWrapper:hover {
  border: #2c2d2e solid 0.08rem;
  
  }

  .delBtn {
    font-size: 15px;
    color: skyblue;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
  }
  
  @keyframes icon {
    0%,100%{
      transform: translate(0px);
    }
    50% {
      transform: translate(3px);
    }
  }

.todoCreatedAt, .todoText, .delBtn, #prioritySelector, #addButton, #counterWrapper, #sortByDateButton{
    margin-left: 0.8rem;
}

#textInput, #prioritySelector {
border:2px solid skyblue;
	font-size:1em;
	padding:.25em .5em .3125em;
	color: black;
	border-radius:.25em;
	transition:all .100s;
}	
#textInput:focus, #prioritySelector:focus{
		outline:none;
		color: black;
		border-color:blue;
	}

    

    #counterWrapper {
        border: solid skyblue;
        font-size:1em;
	padding: .25em .5em .3125em;
	color: black;
	border-radius: .25em;
    transition:all .100s;
    padding: 5px 20px;
    margin: 10px;
    color: #1B5AA1;
    font-weight: 300;
    font-size: 20px;
    position: fixed;
    }

    #addButton{
      outline:none;
  color: black;
      border-color:skyblue;
      font-size:1em;
padding:.25em .5em .3125em;
color: black;
border-radius:.25em;
  transition:all .100s;
  text-align: center;
  }

  .delBtn {
      display: flex;
  }

    #addButton:hover, #sortButton:hover, #sortByDateButton:hover {
        outline:none;
		color: black;
        border-color:blue;
        font-size:1em;
	padding:.25em .5em .3125em;
	color: black;
	border-radius:.25em;
  transition:all .100s;
    }

    .sure {
      display: flex;
      align-items: center;
      
    }

  #sortButton, #sortByDateButton {
    outline:none;
    color: black;
        border-color:skyblue;
        font-size:1em;
  padding:.25em .5em .3125em;
  color: black;
  border-radius:.25em;
    transition:all .100s;
    text-align: center;
    align-items: center;
  }

  .deleteSure, .undoBtn {
    margin-left: 1rem;
    outline:none;
    color: black;
        border-color:skyblue;
        font-size:1em;
  color: black;
  border-radius:.25em;
    transition:all .100s;
    text-align: center;
    align-items: center;
  }
  
  .sure {
    margin-left: 1rem;
  }

  .todoText {
    word-break: break-all;
    text-align: left;
  }
